page-login {
  ion-content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#121b1c+1,14a07b+57,87d1c2+100 */
    background: #121b1c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #121b1c 1%, #14a07b 57%, #87d1c2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #121b1c 1%,#14a07b 57%,#87d1c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #121b1c 1%,#14a07b 57%,#87d1c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121b1c', endColorstr='#87d1c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  img{
    width: 100px;
  }

  h5{
    color: white;
  }

  .top-5{
    margin-top: 5%;
  }

  .top-3{
    margin-top: 3%;
  }

  .top-1{
    margin-top: 1%;
  }

  .spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: rgba(#333333, 0);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

}
