page-mensaje {

  .contenido{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('../assets/imgs/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .mensaje{
    font: italic bold 12px/30px Georgia, serif;
    padding: 20px;
    font-size: 1.5em;
  }

  .botonAceptar{
    color: black;
    margin: 50% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rgba(31, 84, 22, 0.96);
    background: rgb(157,213,58);
    background: -moz-linear-gradient(45deg, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    background: linear-gradient(45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
  }

  .botonAceptar:active{
    box-shadow: 0 5px 0 rgba(50, 80, 19, 0.96);
    background: rgb(191,210,85);
    background: -moz-linear-gradient(45deg, rgba(191,210,85,1) 0%, rgba(81,137,31,1) 49%, rgba(87,145,0,1) 52%, rgba(158,203,45,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(81,137,31,1) 49%,rgba(87,145,0,1) 52%,rgba(158,203,45,1) 100%);
    background: linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(81,137,31,1) 49%,rgba(87,145,0,1) 52%,rgba(158,203,45,1) 100%);
    top: 5px;
  }

}
