<ion-header>
  <ion-navbar hideBackButton color="navBar">
    <ion-title text-center>
      CARGA DE CREDITO
    </ion-title>
      <ion-buttons right>
        <button ion-button color="danger" icon-right
                (click)="cerrarSesion()">
          <ion-icon name="md-contact"></ion-icon>
          Salir
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="contenido" *ngIf="!mostrarSpinner">
    <div class="textContenido">
      <h3>BIENVENIDO!</h3>
      <p> <strong>Perfil:</strong> {{userEmail}}</p>
    </div>

    <button class="botonEscaner" ion-button icon-left block
            (click)="scannStart()">
      <ion-icon name="md-qr-scanner"></ion-icon>
      Iniciar escaner
    </button>
  </div>
  <div *ngIf="mostrarSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>
</ion-content>
