page-home {

  .contenido{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('../assets/imgs/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .textContenido{
      padding: 10px;
  }

  .botonEscaner{
    width: 50%;
    height: 25%;
    margin: 0 auto;
    border-radius: 10%;
    border: 2px solid rgb(22, 87, 62);
    background: rgb(157,213,58);
    background: -moz-linear-gradient(45deg, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    background: linear-gradient(45deg, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
  }

  .botonEscaner:active{
    box-shadow: 0 5px 0 rgba(50, 80, 19, 0.96);
    background: rgb(191,210,85);
    background: -moz-linear-gradient(45deg, rgba(191,210,85,1) 0%, rgba(81,137,31,1) 49%, rgba(87,145,0,1) 52%, rgba(158,203,45,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(81,137,31,1) 49%,rgba(87,145,0,1) 52%,rgba(158,203,45,1) 100%);
    background: linear-gradient(45deg, rgba(191,210,85,1) 0%,rgba(81,137,31,1) 49%,rgba(87,145,0,1) 52%,rgba(158,203,45,1) 100%);
    top: 5px;
  }

  .spinner {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: rgba(#333333, 0);

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
}
