page-historial {

  .contenido{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('../assets/imgs/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}
