<ion-header>

  <ion-navbar color="navBar">
    <ion-title text-center>CREDITO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="registros">
		<ion-item class="text" *ngFor="let registro of historialTotal">
			{{registro.msj}}
		</ion-item>
  </ion-list>
  <ion-item *ngIf="!registros" class="text">
		<p color="danger">No hay registros cargados</p>
	</ion-item>
  <button *ngIf="registros" ion-button color="danger" icon-left block
          (click)="limpiarHistorial()">
    <ion-icon name="md-trash"></ion-icon>
    Limpiar historial
  </button>

</ion-content>
